---
import Layout from '../layouts/Layout.astro';
import Chrome from '../components/Chrome.astro';
import Stage from '../components/Stage.astro';
import PillNav from '../components/PillNav.astro';
import MasonryGallery from '../components/MasonryGallery';
import { site } from '../lib/site';

const images = [
  '/media/P1229678.jpg',
  '/media/DSC01626.jpg',
  '/media/P1160966.jpg',
  '/media/P1091771.jpg',
  '/media/P1182460.jpg',
  '/media/P1193508.jpg',
  '/media/DSC03200.jpg',
  '/media/P1205025.jpg',
];
---

<Layout title={`${site.name} - Visuals`} description={`${site.name} visuals`}>
  <div class="min-h-svh">
    <Chrome />

    <Stage solid class="bg-black">
      <PillNav active="visuals" />
      <div class="relative z-20 px-6 pb-28 pt-28 md:px-10 md:pt-32">
        <MasonryGallery images={images} client:load />
      </div>
    </Stage>
  </div>
</Layout>
