---
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import Chrome from '../components/Chrome.astro';
import Stage from '../components/Stage.astro';
import PillNav from '../components/PillNav.astro';
import MasonryGallery from '../components/MasonryGallery';
import { site } from '../lib/site';
import { resolveGalleryUrls } from '../lib/blob-visuals';

const images = await resolveGalleryUrls();
---

<Layout title={`${site.name} - Visuals`} description={`${site.name} visuals`}>
  <div class="min-h-svh">
    <Chrome />

    <Stage solid class="bg-black" scrollable>
      <PillNav active="visuals" />
      <div class="relative z-20 px-6 pb-28 pt-28 md:px-10 md:pt-32">
        <MasonryGallery images={images} client:idle />
      </div>
    </Stage>
  </div>
</Layout>
