---
import Layout from '../layouts/Layout.astro';
import Chrome from '../components/Chrome.astro';
import Stage from '../components/Stage.astro';
import PillNav from '../components/PillNav.astro';
import MasonryGallery from '../components/MasonryGallery';
import { site } from '../lib/site';

const images = [
  '/media/visuals/P1229678.jpg',
  '/media/visuals/DSC01626.jpg',
  '/media/visuals/P1160966.jpg',
  '/media/visuals/P1091771.jpg',
  '/media/visuals/P1182460.jpg',
  '/media/visuals/P1193508.jpg',
  '/media/visuals/DSC03200.jpg',
  '/media/visuals/P1205025.jpg',
  '/media/visuals/DSC01502.jpg',
  '/media/visuals/DSC01928.jpg',
  '/media/visuals/DSC02049.jpg',
  '/media/visuals/DSC02717.jpg',
  '/media/visuals/DSC03069.jpg',
  '/media/visuals/GAB02321-3.jpg',
  '/media/visuals/GAB02365-3.jpg',
  '/media/visuals/P1035015-2.jpg',
  '/media/visuals/P1045400.jpg',
  '/media/visuals/P1046125.jpg',
  '/media/visuals/P1056759.jpg',
  '/media/visuals/P1057106.jpg',
  '/media/visuals/P1067578.jpg',
  '/media/visuals/P1067975.jpg',
  '/media/visuals/P1079751.jpg',
  '/media/visuals/P1079757.jpg',
  '/media/visuals/P1079820.jpg',
  '/media/visuals/P1091870.jpg',
  '/media/visuals/P1092176.jpg',
  '/media/visuals/P1102281.jpg',
  '/media/visuals/P1102538.jpg',
  '/media/visuals/P1102749-2.jpg',
  '/media/visuals/P1160924.jpg',
  '/media/visuals/P1160972.jpg',
  '/media/visuals/P1161054.jpg',
  '/media/visuals/P1171126.jpg',
  '/media/visuals/P1171156.jpg',
  '/media/visuals/P1171176.jpg',
  '/media/visuals/P1171432.jpg',
  '/media/visuals/P1182541.jpg',
  '/media/visuals/P1182683.jpg',
  '/media/visuals/P1182772-2.jpg',
  '/media/visuals/P1193349-2.jpg',
  '/media/visuals/P1193529.jpg',
  '/media/visuals/P1193730.jpg',
  '/media/visuals/P1193889.jpg',
  '/media/visuals/P1194099.jpg',
  '/media/visuals/P1204594.jpg',
  '/media/visuals/P1204855.jpg',
  '/media/visuals/P1205072.jpg',
  '/media/visuals/P1205188.jpg',
  '/media/visuals/P1205238.jpg',
  '/media/visuals/P1229984.jpg',
  '/media/visuals/P1230206.jpg',
  '/media/visuals/P1231075.jpg',
  '/media/visuals/P1231273.jpg',
  '/media/visuals/P1231361.jpg',
  '/media/visuals/P1231546.jpg',
  '/media/visuals/P1241700.jpg',
];
---

<Layout title={`${site.name} - Visuals`} description={`${site.name} visuals`}>
  <div class="min-h-svh">
    <Chrome />

    <Stage solid class="bg-black">
      <PillNav active="visuals" />
      <div class="relative z-20 px-6 pb-28 pt-28 md:px-10 md:pt-32">
        <MasonryGallery images={images} client:load />
      </div>
    </Stage>
  </div>
</Layout>
